name: run-tests
on: [push, pull_request]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container: node:${{ matrix.node }}-bookworm
    strategy:
      matrix:
        node: [18, 20, 22]
    name: Node ${{ matrix.node }} sample
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install packages
        run: |
          apt-get update
          apt-get -y install build-essential pkg-config libgd-dev libheif-dev libavif-dev libaom-dev libdav1d-dev libx265-dev
      - name: Show libgd feature flags
        run: |
          gdlib-config --features || gdlib-config --all || true
      - name: Run npm tasks
        run: npm install && npm run test
